body{
    font-family: "Microsoft YaHei UI";
}

a.dropdown-toggle img.img-rounded{
    position: absolute;
    top: 9px;
    left: -20px;
    width: 30px;
}
a[like-value="0"]{
    opacity: .3;
}
a[like-value="1"]{
    opacity: .8;
}
.topic-font{
    margin-left: 5px;
    font-style:oblique;
    float: right;
}
.preview_img{
    width: 100px;
}
.thumbnail{
    margin-top: 10px;
}
.post-action a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
.post-action a{
    color: #333;
}
.post-action a[data-toggle="modal"]{
    opacity: .8;
}
.jumbotron .add-img{
    margin-bottom: 0;
}
.jumbotron .preview_input{
    margin-left: 15px;
    margin-top: 10px;
}
.repost .input-group-addon:last-child{
    border-bottom-right-radius: 0px;
    border-bottom: 0;
    border-left: 0;
}
.repost .form-control:first-child{
    border-right: 0;
    border-bottom-left-radius: 0px;
}
.jumbotron-repost-input{
    padding: 10px;
    color: inherit;
    background-color: #eee;
    border--radius: 0px;
    padding-bottom: 0;
}
.modal-body .jumbotron{
    border: 1px solid #ccc;
    border-top: 0;
    margin-bottom: 10px;
    padding: 0px;
    padding-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.modal-body .jumbotron .row{
    margin: 0;
}
.modal-body .jumbotron .preview_img{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-img{
    margin-top: 5px;
    max-height: 100px;
}
.navbar-default{
    background-color: rgb(255, 244, 205);
}
.navbar-default .navbar-nav>.active>a{
    background-color: rgba(255, 218, 154, 0.64);
}
.panel-body .glyphicon{
    font-size: 16px;
}
.media {
    margin-top: 10px;
}
.media-left{
    padding-right: 0px;
    padding-left: 5px;
}
.media-left .blog-post-meta{
    margin: 0;
    white-space: nowrap;
}
.post-title{
    color: #333;
    text-decoration: none;
}
a.post-title:focus, a.post-title:hover{
    color: #333;
    text-decoration: none;
}
.topic-left{
    display: inline;
    vertical-align: middle;
}
.panel-heading .user-avatar{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
.panel-heading small{
    padding-left: 10px;
}

.top-logo{
    float: left;
    height: 40px;
    padding-top: 10px;
    width: 50px;
    padding-right: 10px;
}
.top-topics>li{
    border-top: 1px solid #ddd;
}
.top-topics>li:first-child{
    border-top: 0;
}
.top-topics>li>a{
    padding: 8px 15px;
    color: #337ab7;
}
.top-topics>li>a> .text-danger{
    font-size: 20px;
    font-weight: 500;
}
.top-topics>li>a> .label-warning{
    float: right;
}
.panel-body {
    padding-left: 15px;
    padding-right: 15px;
}
.panel-body-action{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.panel-body-hr-bottom{
    padding: 0px;
    margin: 0px;
}
.panel-body-hr{
    padding: 0px;
    margin: 0px 20px;
}

.top-topics{
    min-width: 300px;
}
.lead{
    font-size: 30px;
    margin-bottom: 0px;
}
@media (max-width: 768px) {
    .top-logo{
        margin-left: 15px;
    }
    a.dropdown-toggle img.img-rounded {
        display: none;
    }
    .navbar-brand{
        float: left;
    }
}