a.dropdown-toggle img.img-rounded{
    position: absolute;
    top: 9px;
    left: -20px;
}
.topic-font{
    margin-left: 5px;
    font-style:oblique;
}
.preview_img{
    width: 100px;
}
.thumbnail{
    margin-top: 10px;
}
.post-action a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
.repost .input-group-addon:last-child{
    border-bottom-right-radius: 0px;
    border-bottom: 0;
}
.repost .form-control:first-child{
    border-right: 0;
    border-bottom-left-radius: 0px;
}
.repost .add-img{
    border-left: 0;
}
.jumbotron-repost-input{
    padding: 10px;
    color: inherit;
    background-color: #eee;
    border--radius: 0px;
    padding-bottom: 0;
}
.modal-body .jumbotron{
    border: 1px solid #ccc;
    border-top: 0;
    margin-bottom: 10px;
    padding: 0px;
    padding-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.modal-body .jumbotron .row{
    margin: 0;
}
.modal-body .jumbotron .preview_img{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-img{
    margin-top: 5px;
    max-height: 100px;
}
.navbar-default{
    background-color: rgb(255, 244, 205);
}
.navbar-default .navbar-nav>.active>a{
    background-color: rgba(255, 218, 154, 0.64);
}
.panel-body .glyphicon{
    font-size: 16px;
}
.row .blog-post-meta{
    margin: 0;
}
.panel-heading .user-avatar{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 5px;
}
.panel-heading small{
    padding-left: 10px;
}
.media-right .post-control{
    font-size: 21px;
    font-weight: 700;
    line-height: 0;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;

}
.media-right .zans_count{
    font-size: 16px;
    font-weight: 700;
    line-height: 0;
    color: #cdcdcd;
}
.top-logo{
    float: left;
    height: 40px;
    padding-top: 10px;
    width: 50px;
    padding-right: 10px;
}
@media (max-width: 768px) {
    .top-logo{
        margin-left: 15px;
    }
    a.dropdown-toggle img.img-rounded {
        display: none;
    }
    .navbar-brand{
        float: left;
    }
}